div.header {
  display: flex;
  position: sticky;
  top: 0;
  backdrop-filter: blur(20px);
  background-color: #ffffffb3;
  padding: 40px;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

  .titlea {
    text-decoration: none;
    color: #000000c9;

    &:hover {
      font-size: 1.2em;
      transition: ease-in-out 0.2s;
    }
  }

  .nav_links {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }

  .header_li {
    list-style: none;
  }
  .navbar_ul_links {
    text-decoration: none;
    color: #000000c9;
    font-size: 1.2em;

    &:hover {
      font-size: 1.3em;
      transition: ease-in-out 0.2s;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
